<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/etick</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--<mapping class="ir.etick.tool.BankAccountEntity"/>-->
    <!--<mapping resource="ir/etick/tool/BankAccountEntity.hbm.xml"/>-->
    <!--<mapping class="ir.etick.tool.CardEntity"/>-->
    <!--<mapping resource="ir/etick/tool/CardEntity.hbm.xml"/>-->
    <!--<mapping class="ir.etick.tool.ContactEntity"/>-->
    <!--<mapping resource="ir/etick/tool/ContactEntity.hbm.xml"/>-->
    <!--&lt;!&ndash; <property name="connection.username"/> &ndash;&gt;-->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>